<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Folder Customizer</Name>
    <Version>0.0.1</Version>
    <Title>Folder Customizer Installer</Title>
    <Publisher>deadbush25</Publisher>
    <StartMenuDir>Folder Customizer</StartMenuDir>
    <InstallerWindowIcon>../Icons/Folder Customizer.png</InstallerWindowIcon>
    <InstallerApplicationIcon>../Icons/Folder Customizer</InstallerApplicationIcon>
    <TargetDir>@ApplicationsDirX64@/Folder Customizer</TargetDir>
    <MaintenanceToolName>Folder Customizer MaintenanceTool</MaintenanceToolName>
    <RemoteRepositories>
        <Repository>
            <Url>https://raw.githubusercontent.com/Deadbush225/Folder-Customizer/main/repository</Url>
            <Enabled>1</Enabled>
        </Repository>
    </RemoteRepositories>
</Installer>
<Configuration>
<WizardPages>
        <WizardPage component="DynamicPage"/>
    </WizardPages>
</Configuration>
